@inject WineSales.Domain.Interactors.IUserInteractor UserInteractor

<Card>
    <CardBody>
        <CardTitle Size="5">@OneWine.Kind @OneWine.Color</CardTitle>
        <CardText>
            <ListGroup Flush>
                <ListGroupItem Disabled>Объем: @OneWine.Volume л</ListGroupItem>
                <ListGroupItem Disabled>Сахар: @OneWine.Sugar</ListGroupItem>
                <ListGroupItem Disabled>Алкоголь: @OneWine.Alcohol %</ListGroupItem>
                <ListGroupItem Disabled>Выдержка: @OneWine.Aging лет</ListGroupItem>
                <ListGroupItem>@Price</ListGroupItem>
            </ListGroup>
        </CardText>
        <Button Color="Color.Primary">Купить</Button>
    </CardBody>
</Card>

@code {
    [Parameter] public Wine OneWine { get; set; }
    [Parameter] public double Price { get; set; }
}