@inject NavigationManager NavigationManager
@inject WineSales.Domain.Interactors.IUserInteractor UserInteractor

<Modal @ref="loginModal">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Вход в аккаунт</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
        <Validations @ref="@loginValidations" ValidateOnLoad=false>
            <Validation @ref="@loginValidation" Validator="@ValidateLogin">
                <Field>
                    <FieldLabel>Логин</FieldLabel>
                    <TextEdit @bind-Text="@loginDetails.Login" Placeholder="Введите логин...">
                        <Feedback>
                            <ValidationSuccess>Отлично!</ValidationSuccess> 
                            <ValidationError>@loginErrorMsg</ValidationError> 
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
            <Validation @ref="@passwordValidation" Validator="@ValidatePassword">
                <Field>
                    <FieldLabel>Пароль</FieldLabel>
                    <TextEdit @bind-Text="@loginDetails.Password" Placeholder="Введите пароль...">
                        <Feedback>
                            <ValidationSuccess>Отлично!</ValidationSuccess> 
                            <ValidationError>@passwordErrorMsg</ValidationError> 
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
        </Validations>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Отменить</Button>
            <Button Color="Color.Primary" Clicked="@SignIn">Войти</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    private Modal? loginModal;

    LoginDetails loginDetails = new LoginDetails();

    Validations? loginValidations;

    Validation? loginValidation;
    string loginErrorMsg = "";
    bool invalidLogin = false;

    Validation? passwordValidation;
    string passwordErrorMsg = "";
    bool invalidPassword = false;

    public void ShowModal()
    {
        Log.Information("Login showed.");
        loginModal.Show();
    }

    async Task SignIn()
    {
        if (await loginValidations.ValidateAll())
        {
            try
            {
                UserInteractor.SignIn(loginDetails);

                Log.Information("User logged in.");

                NavigationManager.NavigateTo(NavigationManager.Uri, true);
                await loginValidations.ClearAll();
            }
            catch(UserException ex)
            {
                Log.Error("UserException received.");

                var errorMsg = ex.Message;

                if (errorMsg == "User: This user doesn't exist.")
                {
                    invalidLogin = true;
                    await loginValidations.ValidateAll();
                }
                else if (errorMsg == "User: Invalid input of password." || errorMsg == "User: Invalid password.")
                {
                    invalidPassword = true;
                    await loginValidations.ValidateAll();
                }
            }
        }
    }

    void ValidateLogin(ValidatorEventArgs fact)
    {
        if (invalidLogin)
        {
            loginErrorMsg = "Неверный логин.";
            fact.Status = ValidationStatus.Error;
            invalidLogin = false;
        }
        else
        {
            var login = Convert.ToString(fact.Value);

            if (string.IsNullOrEmpty(login))
            {
                loginErrorMsg = "Неверный логин.";
                fact.Status = ValidationStatus.Error;
            }
            else
            {
                fact.Status = ValidationStatus.Success;
            }
        }
    }

    void ValidatePassword(ValidatorEventArgs fact)
    {
        if (invalidPassword)
        {
            passwordErrorMsg = "Неверный пароль.";
            fact.Status = ValidationStatus.Error;
            invalidPassword = false;
        }
        else
        {
            var password = Convert.ToString(fact.Value);

            if (string.IsNullOrEmpty(password))
            {
                passwordErrorMsg = "Неверный пароль.";
                fact.Status = ValidationStatus.Error;
            }
            else
            {
                fact.Status = ValidationStatus.Success;
            }
        }
    }

    private Task HideModal()
    {
        Log.Information("Button <HideModal> clicked.");
        return loginModal.Hide();
    }
}
