@using WineSales.Config;

@inject NavigationManager NavigationManager
@inject WineSales.Domain.Interactors.IUserInteractor UserInteractor
@inject WineSales.Domain.Interactors.ICustomerInteractor CustomerInteractor
@inject WineSales.Domain.Interactors.IBonusCardInteractor BonusCardInteractor

<Modal @ref="bonusCardModal">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Получение бонусной карты</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
        <Validations @ref="@bonusCardValidations" ValidateOnLoad=false>
            <Validation @ref="@phoneValidation" Validator="@ValidatePhone">
                <Field>
                    <FieldLabel>Номер телефона</FieldLabel>
                    <TextEdit @bind-Text="@phone" Placeholder="Введите номер телефона...">
                        <Feedback>
                            <ValidationSuccess>Отлично!</ValidationSuccess> 
                            <ValidationError>@phoneErrorMsg</ValidationError> 
                        </Feedback>
                    </TextEdit>
                </Field>
            </Validation>
        </Validations>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Отменить</Button>
            <Button Color="Color.Primary" Clicked="@GetBonusCard">Получить</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    private Modal? bonusCardModal;
    private Validations? bonusCardValidations;

    private string phone;
    private Validation? phoneValidation;
    private string phoneErrorMsg = "";
    private bool alreadyExist = false;
    private bool invalidPhone = false;

    public void ShowModal()
    {
        bonusCardModal.Show();
    }

    async Task GetBonusCard()
    {
        if (await bonusCardValidations.ValidateAll())
        {
            try
            {
                BonusCardInteractor.CreateBonusCard(phone);
                BonusCard createdBonusCard = BonusCardInteractor.GetByPhone(phone);
                
                User nowUser = UserInteractor.GetNowUser();
                int customerID = nowUser.RoleID;

                Customer customer = CustomerInteractor.GetByID(customerID);
                customer.BonusCardID = createdBonusCard.ID;
                CustomerInteractor.UpdateCustomer(customer);

                NavigationManager.NavigateTo(NavigationManager.Uri, true);
                await bonusCardValidations.ClearAll();
            }
            catch(BonusCardException ex)
            {
                var errorMsg = ex.Message;

                if (errorMsg == "BonusCard: Invalid input of phone.")
                {
                    invalidPhone = true;
                    await bonusCardValidations.ValidateAll();
                }
                else if (errorMsg == "BonusCard: The bonus card is already linked to this phone.")
                {
                    alreadyExist = true;
                    await bonusCardValidations.ValidateAll();
                }
            }
        }
    }

    void ValidatePhone(ValidatorEventArgs fact)
    {
        if (alreadyExist)
        {
            phoneErrorMsg = "К этому номеру телефона уже привязана бонусная карта.";
            fact.Status = ValidationStatus.Error;
            alreadyExist = false;
        }
        else if (invalidPhone)
        {
            phoneErrorMsg = "Номер телефона должен состоять из 11 цифр.";
            fact.Status = ValidationStatus.Error;
            invalidPhone = false;
        }
        else
        {
            var phoneNumber = Convert.ToString(fact.Value);

            if (string.IsNullOrEmpty(phoneNumber))
            {
                phoneErrorMsg = "Неверный номер телефона.";
                fact.Status = ValidationStatus.Error;
            }
            else
            {
                fact.Status = ValidationStatus.Success;
            }
        }
    }

    private Task HideModal()
    {
        return bonusCardModal.Hide();
    }
}
