@using WineSales.Config
@using WineSales.Domain.Interactors
@inject NavigationManager NavigationManager
@inject IUserInteractor UserInteractor
@inject IWineInteractor WineInteractor
@inject ISupplierWineInteractor SupplierWineInteractor
@inject ISupplierInteractor SupplierInteractor

<Modal @ref="updateWineModal">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Изменение вина</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
        <Validations @ref="@wineValidations" ValidateOnLoad=false>
            <Validation @ref="@priceValidation" Validator="@ValidatePrice">
                <Field>
                    <FieldLabel>Цена (₽)</FieldLabel>
                    <NumericEdit @bind-Value="@supplierWine.Price" Placeholder="Введите цену...">
                        <Feedback>
                            <ValidationSuccess>Отлично!</ValidationSuccess> 
                            <ValidationError>@priceErrorMsg</ValidationError> 
                        </Feedback>
                    </NumericEdit>
                </Field>
            </Validation>
            <Validation @ref="@percentValidation" Validator="@ValidatePercent">
                <Field>
                    <FieldLabel>Процент</FieldLabel>
                    <NumericEdit @bind-Value="@supplierWine.Percent" Placeholder="Введите процент...">
                        <Feedback>
                            <ValidationSuccess>Отлично!</ValidationSuccess> 
                            <ValidationError>@percentErrorMsg</ValidationError> 
                        </Feedback>
                    </NumericEdit>
                </Field>
            </Validation>
        </Validations>

        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Отменить</Button>
            <Button Color="Color.Primary" Clicked="@AddWine">Изменить</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    private Modal? updateWineModal;

    User nowUser;
    SupplierWine supplierWine = new SupplierWine();

    Validations? wineValidations;

    Validation? priceValidation;
    string priceErrorMsg = "";

    Validation? percentValidation;
    string percentErrorMsg = "";

    public void ShowModal()
    {
        updateWineModal.Show();
    }

    async Task AddWine()
    {
        if (await wineValidations.ValidateAll())
        {
            Console.WriteLine("UpdateWine");

            try
            {
                nowUser = UserInteractor.GetNowUser();
                int supplierID = nowUser.RoleID;

                SupplierWineInteractor.CreateSupplierWine(supplierWine);

                NavigationManager.NavigateTo(NavigationManager.Uri, true);
                await wineValidations.ClearAll();
            }
            catch(SupplierWineException ex)
            {
                var errorMsg = ex.Message;
                Console.WriteLine("UpdateWine: error");
                Console.WriteLine(errorMsg);

                if (errorMsg == "SupplierWine: This supplier doesn't have this wine.")
                {
                    Console.WriteLine("UpdateWine: not this wine");
                    wineValidations.ValidateAll();
                }
            }
        }
    }

    void ValidatePercent(ValidatorEventArgs fact)
    {
        Console.WriteLine("ValidatePercent");

        var strPercent = Convert.ToString(fact.Value);
        var percent = Convert.ToInt32(strPercent);

        if (percent == 0)
        {
            percentErrorMsg = "Необходимо ввести процент.";
            fact.Status = ValidationStatus.Error;
        }
        else if (percent < SaleConfig.MinPercent)
        {
            percentErrorMsg = "Процент должен быть не менее 43 %.";
            fact.Status = ValidationStatus.Error;
        }
        else
        {
            fact.Status = ValidationStatus.Success;
        }
    }

    void ValidatePrice(ValidatorEventArgs fact)
    {
        Console.WriteLine("ValidatePrice");

        var price = Convert.ToDouble(fact.Value);

        if (price == 0)
        {
            priceErrorMsg = "Необходимо ввести цену вина.";
            fact.Status = ValidationStatus.Error;
        }
        else if (price < SaleConfig.MinPurchasePrice)
        {
            priceErrorMsg = "Цена вина должна быть не менее 118 ₽.";
            fact.Status = ValidationStatus.Error;
        }
        else
        {
            fact.Status = ValidationStatus.Success;
        }
    }

    private Task HideModal()
    {
        return updateWineModal.Hide();
    }
}