@using WineSales.Config
@using WineSales.Domain.Interactors
@inject IPurchaseInteractor PurchaseInteractor
@inject ISaleInteractor SaleInteractor

<TableRow>
    <TableRowCell>@OneWine.Kind</TableRowCell>
    <TableRowCell>@OneWine.Color</TableRowCell>
    <TableRowCell>@OneWine.Volume</TableRowCell>
    <TableRowCell>@OneWine.Sugar</TableRowCell>
    <TableRowCell>@OneWine.Alcohol</TableRowCell>
    <TableRowCell>@OneWine.Aging</TableRowCell>
    <TableRowCell>@OnePrice</TableRowCell>
</TableRow>
<Button Color="Color.Primary" Clicked="@CancelPurchase">Отменить</Button>

@code {
    [Parameter] public Wine OneWine { get; set; }
    [Parameter] public double OnePrice { get; set; }
    [Parameter] public int PurchaseID { get; set; }

    private Task CancelPurchase()
    {
        Sale sale = SaleInteractor.GetByPurchaseID(PurchaseID);
        SaleInteractor.DeleteSale(sale);

        return Task.CompletedTask;
    }
}